SITE_VARIANT=system174
SITE_URL=https://system174.co.uk
SOUNDCLOUD_CLIENT_ID=your_soundcloud_client_id
SOUNDCLOUD_CLIENT_SECRET=your_soundcloud_client_secret
SOUNDCLOUD_REDIRECT_URI=https://system174.co.uk/soundcloud/callback
SOUNDCLOUD_ACCESS_TOKEN=your_soundcloud_access_token
SOUNDCLOUD_REFRESH_TOKEN=your_soundcloud_refresh_token
SOUNDCLOUD_TOKENS_PATH=./.soundcloud.tokens.json
SOUNDCLOUD_CATALOG_OVERRIDES_PATH=./.soundcloud.catalog-overrides.json
SOUNDCLOUD_PAGINATION=off
ADMIN_DASHBOARD_PASSWORD=
SOUNDCLOUD_TOKEN_EXPORT_KEY=
