SOUNDCLOUD_CLIENT_ID=your_soundcloud_client_id
SOUNDCLOUD_CLIENT_SECRET=your_soundcloud_client_secret
SOUNDCLOUD_REDIRECT_URI=https://system174.andrewkennedydev.com/soundcloud/callback
SOUNDCLOUD_ACCESS_TOKEN=your_soundcloud_access_token
SOUNDCLOUD_REFRESH_TOKEN=your_soundcloud_refresh_token
